* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-image: url("../image/bg.png");
	background-repeat: repeat;
}

#wrap {
	border-radius: 5px;
	width: 800px;
	margin: 150px auto;
	/*padding: 10px;*/
	background-color: rgba(255, 255, 255, 0);
	height: 400px;
	border: 3px solid #3c612a;
}
	#questions {
		padding: 10px;
		width: 100%;
		height: 80px;
		text-align: center;
		margin-bottom: 20px;
	}

	
	#numberQuestion {
		text-decoration: underline;
		color: #211192;
		margin-bottom: 10px;
		text-align: left;
		padding: 10px;
	}	
	#mainQuestion {
		color: #d25959;
	}					
	#answer {
		padding: 20px;
		padding-top: 40px;
		width: 100%;
		height: 240px;
	}
		.btnButton {
			float: left;
			width: 50%;
			padding: 10px;
		}
		button {
			font-style: italic;
			font-size: 1.5em;
			height: 60px;
			color: #3c612a;
			border: 2px solid #3c612a;
			width: 100%;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0);
		}
		button:focus {
			outline: none;
		}
		button:active {
			background-color: #c18777;
		}
	#footer	{
		color: #211192;
		    padding-right: 35px;
    /* padding: 10px; */
		    text-align: right;
		    font-size: 1.5em;
	}


	#resuil {
		width: 100%;
		height: 200px;
		margin-top: 80px;
		text-align: center;

		
	}
	#resAlert1 {
		color: red;
		margin-bottom: 10px;


	}
	#resAlert2 {
		color: red;
		padding: 10px;
		margin-bottom: 10px;
	}
	#resAlert3 {
		width: 100%;

	}

	#resAlert3 button{
		width: 50%;
		border: 2px solid #bb170e;
		color: #bb170e;

	}
.clear {
	clear: both;
}