*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
body { background-color:#333;
		overflow: hidden;
 }

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	






#wrap {
	width: 100%;
	margin: auto;
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
	#menu {
		width: 100%;
		margin-top:5px;
		margin-bottom: 10px;
	}
		.main-menu {
			width: 100%;
			height: 50px;
			/*background-color: gray;*/
		}

	#content {
		width: 100%;
		
	}
	@keyframes changeColorBorder {
		10% {border-color: #3430c9;}
		20% {border-color: #bed347;}
		30% {border-color: #f24d84;}
		40% {border-color: #ad2af8;}
		50% {border-color: #c701f0;}
		60% {border-color: #f807a3;}
		70% {border-color: #4dd441;}
		80% {border-color: #860ece;}
		100% {border-color: #e82b0c;}

	}
	@keyframes textBlur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
	@keyframes snowOneMove {
		0% {top:10px;right: 10px;}
		20% {left:10px;top: 50px;}
		40% {top:120px;right: 10px;}
		50% {left:10px;top: 200px;}
		70% {top:250px;right: 10px;}
		80% {top:300px;left: 10px;}
		100% {bottom:10px;right: 10px;}
		
	}

	@keyframes reindeerMove {
		10% {right: 20%;}
		20% {right: 30%;}
		30% {right: 40%;}
		40% {right: 50%;}
		50% {right: 60%;}
		60% {right: 70%;}
		70% {right: 75%;}
		95% {right: 80%;}		
		100% {right: 80%;opacity: 0;}		
	}
		.card {
			
			
			width: 50%;
			margin-left: auto;
			margin-right: auto;	
			position: relative;			
			top: 10px;
			left: 10px;
			padding: 10px;
			border-radius: 5px;
			border: 4px solid red;
			animation: changeColorBorder 5s ease infinite;
		}
			.card img {

				width: 100%;
				border-radius:5px;

			}
			.text {
				width: 100%;

				/*display: inline-block;*/
				position: absolute;
				right: -50%;
				bottom: 43%;				
				font-size: 1.8em;
				animation: textBlur 0.75s ease-out infinite;
				text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;

			}
				@media screen and (max-width: 2000px) {
	    		.text {
	        		font-size: 2em;
			    }
			}
			@media screen and (max-width: 1400px) {
	    		.text {
	        		font-size: 1.5em;
			    }
			}
			@media screen and (max-width: 1000px) {
	    		.text {
	        		font-size: 1.2em;
			    }
			}
			@media screen and (max-width: 700px) {
	    		.text {
	        		font-size: 0.7em;
	        		right: -45%;
	        		bottom: 42%;
			    }
			}
			.reindeer {
				position: absolute;
				right: 10px;
				bottom: 10px;
				transform: rotate(360deg);
				/*transform: scaleX(-1);*/
				animation: reindeerMove 10s ease-in infinite;
				
			}
			

/*			.reindeer img {
				  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
			}
	*/