* {
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    font-family: 'Indie Flower', cursive;
}

.quote__wrap {
    width: 50%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: aqua; */
    height: 300px;
}
.quote__content{
    font-size: 20px;
    position: relative;
    height: 250px;
}
.quote {
    height: 100%;
}
.quote__left {
    position: absolute;
    top: -11px;
    left: -29px;
}

.quote__right {
    position: absolute;
    right: 0;
    bottom: 0;
}
.quote__btn {
    background-color: aqua;
    padding: 10px;
    display: inline;
    cursor: pointer;
}
.quote__author {
    display: inline-block;
    float: right;
}


 .quote__text {
     font-size: 40px;
 }