* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrap {
    width: 1200px;
    margin: auto;
    padding: 0 70px;
}
    #logo,#main-menu,.list-menu {
        float: left;
    }  
    #logo {
        width: 490px;
    } 
    #main-menu {
        width: 575px;
    }
        #logo span {
            font-family: 'Inconsolata', monospace;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 30px;
            letter-spacing: 2px;
        }

        .list-menu {
            font-family: 'Playfair Display', serif;
            font-size: 14px;
            text-transform: uppercase;

        }