
/* breadcrumb */
div#breadcrumb {
    padding: 15px;
    margin-bottom: 30px;
}
div#content-product-des{
    width: 100%;
    padding: 0 15px;
    margin-bottom:  30px;
}
div.content-product-des {
    width: 100%;
    background-color: white;
    letter-spacing: 2px;
}

div.wrap-title-content-product {
    width: 100%;
}
aside {
    float: left;
    /* padding:  0 15px; */
}

h1#title-product {
    padding: 10px 15px;
    color: #242b35;
    text-transform: uppercase;
    letter-spacing: 3px;
    float: left;
}

div.preview-product-rating {
    padding-top: 30px;
    float: initial;
    margin-left: 10px;
}

h1#title-product div.preview-product-rating {
    float: left;
}

aside#left {
    width: 45%;
}

aside#right {
    width:  55%;
    line-height: 25px;
}

span.product-sale-cost {
    color: red;
    margin-right:  10px;
    font-size:  20px;
}

h2#aside-right-cost {
    margin-bottom:  15px;
}

span.product-current-cost {
    font-size: 15px;
    color: #999;
    text-decoration:  line-through;
}

div#aside-right-des {
    width:  100%;
    margin-bottom:  15px;
}

ul.gift {
    padding: 0 15px;
}

div#aside-right-buy-now {
    width:  50%;
    margin: 30px auto 0px auto;
}

a.buy-now {
    /* background-color: #50d07d; */
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    color:  white;
    text-align:  center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 2px;
}

a.buy-now:hover {
    /* background-color:  #d02552; */
}

li.item-gift {
    list-style:  circle;
    display: list-item;
}


a#a-branch,i#icon-home,li.breadcrumb.branch,i.fa.fa-angle-right {
    color: #232a34;
    /* letter-spacing: 1px; */
}
li.breadcrumb.home {

float: left;

width: 80px;

letter-spacing: 1px;
}

li.breadcrumb.home a {
    color: #232a34;
}

li.breadcrumb.angle {
    float: left;
    color: #232a34;
}

li.breadcrumb.home:hover i#icon-home {
    color:  #ffffff;
}
li.breadcrumb.branch {
    padding: 1px 0px 0px 0px;
    float: left;
    width: 100px;
    text-align:  center;
    font-size: 14px;
    letter-spacing: 1px;
}

li.breadcrumb.branch-2 {
    float: left;
    padding: 1px 0 0 0;
    font-size: 14px;
    width: 150px;
    text-align: center;
}

a#a-branch-2 {
    color: #232a34;
    letter-spacing: 1px;
}

li.breadcrumb.branch:hover a#a-branch {
    color: #000000;
}
i#icon-home {
    font-size: 15px;
    
    margin-right:  5px;
}
/* ASIDE */ 
aside.review-product{
    margin-top: 15px;
    width: 100%;
    padding: 15px;
}
h2.review-product{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
li.list-review{
    margin-bottom: 10px;
    margin-top: 30px;
}
h3.name{
    letter-spacing: 1px;
    margin-bottom: 5px;
}

div.content-review-wrap::after {
    width: 20px;
}

div.content-review-wrap {
    position: relative;
    /* margin-top:  5px; */
}

div.content-review-wrap::after {
    content: "";
    width: 163px;
    height: 2px;
    background-color: #252c36;
    position: absolute;
    /* z-index: 10; */
    margin: 10px 0;
}
span.review-rating{margin-right:  5px;color: #fecb27;}
span.content-review{

}
#txt-review{
    padding: 10px 20px;
    border: 0px;
    border-bottom: 1px solid gray;
    width: 100%;
    resize: none;
    /* margin: auto; */
    display: block;
    margin-bottom: 30px;
}
#txt-review:focus{
    outline: none;
}
#txt-review::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #232a34;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #txt-review::-moz-placeholder { /* Firefox 19+ */
    color: #232a34;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #txt-review:-ms-input-placeholder { /* IE 10+ */
    color: #232a34;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #txt-review:-moz-placeholder { /* Firefox 18- */
    color: #232a34;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }

/* products category */
aside.products-category{
    width: 100%;
    margin-top:  80px;
}
h2.products-category-title{
    padding: 15px;
    text-transform: uppercase;
    color: #242b35;
    letter-spacing: 2px;
}
div.send-review-product{
    margin: 30px 0;
}
div.btn-review{
    width: 20%;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #eeaa9c;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.btn-review:hover {
    background-color: rgba(238,156,156,1.00);
}
span.rating-product{
    margin-left: 15px;
    color: #242b35;
    cursor: pointer;
}
/* RESPONSIVE */

/* screen<1200px */
@media screen and (max-width:1200px){
    .product{
        width: 33.333333%;
    }
    .product:nth-of-type(3){
        display: none;
    }
    .shopping-cart-div{        
        padding: 5px 5px 0px 5px;

    }
    
}
/* screen < 992px */
@media screen and (max-width:992px){
    /* li.breadcrumb.home{
        width: 5%;
    }
    li.breadcrumb.branch{
        width: 13%;
    }
    li.breadcrumb.branch-2{
        width: 20%;
    } */
    aside#left{
        width: 40%;
    }
    aside#right{
        width: 60%;
    }
}
/* screen <768px */
@media screen and (max-width:768px){
    div.wrap{
        margin-top: 55px;
    }
    /* li.breadcrumb.branch-2{
        width: 22%;
    }
    li.breadcrumb.home{
        width: 7%;
    } */
    
}
/* screen <576px */
@media screen and (max-width:576px){
    
}
/* screen <360px */
@media screen and (max-width:360px){
    
}