
/* breadcrumb */
div#breadcrumb {
    padding: 15px;
    margin-bottom: 30px;
}
div#content-product-des{
    width: 100%;
    padding: 0 15px;
    margin-bottom:  30px;
}
div.content-product-des {
    width: 100%;
    background-color: white;
}

div.wrap-title-content-product {
    width: 100%;
}
aside {
    float: left;
    /* padding:  0 15px; */
}

h1#title-product {
    padding: 10px 15px;
    color: #242b35;
    text-transform: uppercase;
    letter-spacing: 3px;
    float: left;
}

div.preview-product-rating {
    padding-top: 30px;
    float: initial;
    margin-left: 10px;
}

h1#title-product div.preview-product-rating {
    float: left;
}

aside#left {
    width: 45%;
}

aside#right {
    width:  55%;
}

span.product-sale-cost {
    color: red;
    margin-right:  10px;
    font-size:  20px;
}

h2#aside-right-cost {
    margin-bottom:  15px;
}

span.product-current-cost {
    font-size: 15px;
    color: #999;
    text-decoration:  line-through;
}

div#aside-right-des {
    width:  100%;
    margin-bottom:  15px;
}

ul.gift {
    padding: 0 15px;
}

div#aside-right-buy-now {
    width:  50%;
    margin: 30px auto 0px auto;
}

a.buy-now {
    /* background-color: #50d07d; */
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    color:  white;
    text-align:  center;
    font-size: 25px;
    text-transform: uppercase;
}

a.buy-now:hover {
    /* background-color:  #d02552; */
}

li.item-gift {
    list-style:  circle;
    display: list-item;
}


a#a-branch,i#icon-home,li.breadcrumb.branch,i.fa.fa-angle-right {
    color: #d02552;
}
li.breadcrumb.home {

    float: left;
    width: 3%;
}

li.breadcrumb.home:hover i#icon-home {
    color:  #ffffff;
}
li.breadcrumb.branch {
    padding: 1px 0px 0px 0px;
    float: left;
    width: 8%;
    text-align:  center;
    font-size: 14px;
}

li.breadcrumb.branch-2 {
    float: left;
    padding: 1px 0 0 0;
    font-size: 14px;
    width: 15%;
    text-align: center;
}

a#a-branch-2 {
    color: #d02552;
}

li.breadcrumb.branch:hover a#a-branch {
    color: #ffffff;
}
i#icon-home {
    font-size: 15px;
    
    margin-right:  5px;
}
/* ASIDE */ 



/* products category */
aside.products-category{
    width: 100%;
    margin-top:  80px;
}
h2.products-category-title{
    padding: 15px;
    text-transform: uppercase;
    color: #242b35;
    letter-spacing: 2px;
}



/* RESPONSIVE */

/* screen<1200px */
@media screen and (max-width:1200px){
    
}
/* screen < 992px */
@media screen and (max-width:992px){
    
}
/* screen <768px */
@media screen and (max-width:768px){
    
}
/* screen <576px */
@media screen and (max-width:576px){
    
}
/* screen <360px */
@media screen and (max-width:360px){
    
}