
/* breadcrumb */
div#breadcrumb {
    padding: 15px;
    margin-bottom: 30px;
}
a#a-branch,i#icon-home,li.breadcrumb.branch,i.fa.fa-angle-right {
    color:#232a34;
}
li.breadcrumb.home {

float: left;

width: 80px;

font-size: 16px;

color: #232a34;
}

li.breadcrumb.angle {
    width: 1%;
    float: left;
}

a.breadcrumb {
    color: #232a34;
    letter-spacing: 1px;
    font-size: 16px;
}

li.breadcrumb.home:hover i#icon-home {
    color:  #000000;
}
li.breadcrumb.branch {
    /* padding: 5px 0px 0px 0px; */
    float: left;
    width: 110px;
    text-align:  center;
    font-size: 16px;
}



li.breadcrumb.branch:hover a#a-branch {
    color: #000000;
}
i#icon-home {
    font-size: 25px;
    margin-right:  5px;
}
/* section section section */
section {
    width: 75%;
    float: left;
    margin-bottom:  15px;
}

.product {
    width: 33.333333333333%;
    float: left;
    padding: 15px;
    height: 450px;
}
aside{
    margin-top: 135px;
    width: 25%;
    float: left;
    padding: 0px 15px;
}

div#wrap-aside {
    background-color: #d02552;
    color: white;
}

h1 {
    text-align:  center;
    background-color: #98b27b;
    height:  65px;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #232a34;
}

ul#products-aside {
    background-color: #aece89;
}

li.products {
    display:  block;
    padding: 5px 5px 5px 15px;
    text-align:  center;
    transition: 0.4s;
    letter-spacing: 1px;
}

li.products:hover {
    background-color: rgba(238,156,156,1.00);
}

a.products {
    color: white;
    width: 100%;
    display: inline-block;
    padding: 5px 0;
}

li.list-item.li-flower-special.level-2 {
    background-color: #98b27b;
}
div#home {
    background-color: #aece89;
}

div#home:hover {
    background-color: rgba(238,156,156,1.00);
}
div#home:hover i.fa.fa-home{
    color: #232a34;
}   




/* screen<1200px */
@media screen and (max-width:1200px){
    div.line-title{
        width: 20%;
    }
    aside{
        margin-top: 140px;
    }
    .shopping-cart-div{
        padding: 5px 5px 0px 5px;
    }
  
}
/* screen < 992px */
@media screen and (max-width:992px){
    div.product:nth-of-type(20){
        display: none;
    }
    aside{
        display: none;
    }
    section{
        width: 100%;
    }
   
}
/* screen <768px */
@media screen and (max-width:768px){
  div.wrap{
      margin-top: 55px;
  }
  /* li.breadcrumb.home{
      width: 8%;
  }
  li.breadcrumb.branch{
      width: 17%;
  } */
  .product{
      width: 50%;
  }
    
}
/* screen <576px */
@media screen and (max-width:576px){
    .product{
        width: 100%;
    }
      
    /* li.breadcrumb.home{
        width: 15%;
    }
    li.breadcrumb.branch{
        width: 25%;
    } */
}
/* screen <360px */
@media screen and (max-width:360px){
    /* li.breadcrumb.branch{
        width: 40%;
    } */
    div.line-title{
        width: 30%;
    }
}







/* screen<1200px
@media screen and (max-width:1200px){
  
  
} */
/* screen < 992px */
/* @media screen and (max-width:992px){
   
} */
/* screen <768px */
/* @media screen and (max-width:768px){
  
    
} */
/* screen <576px */
/* @media screen and (max-width:576px){
   
} */
/* screen <360px */
/* @media screen and (max-width:360px){
   
} */