
/* breadcrumb */
div#breadcrumb {
    padding: 15px;
}
a#a-branch,i#icon-home,li.breadcrumb.branch,i.fa.fa-angle-right {
    color: #d02552;
}
li.breadcrumb.home {

    float: left;
    width: 3%;
}

li.breadcrumb.home:hover i#icon-home {
    color:  #ffffff;
}
li.breadcrumb.branch {
    padding: 1px 0px 0px 0px;
    float: left;
    width: 8%;
    text-align:  center;
    font-size: 14px;
}

li.breadcrumb.branch-2 {
    float: left;
    padding: 1px 0 0 0;
    font-size: 14px;
    width: 15%;
    text-align: center;
}

a#a-branch-2 {
    color: #d02552;
}

li.breadcrumb.branch:hover a#a-branch {
    color: #ffffff;
}
i#icon-home {
    font-size: 15px;
    
    margin-right:  5px;
}
/* ASIDE */