* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;   
    position: relative;
    overflow: hidden;
}
.font-light {
    font-family: 'Quicksand', sans-serif;
    font-size: 34.83px;
    font-weight: 300;
    color: white;
}
.font-bold {
    font-family: 'Quicksand', sans-serif;
    font-size: 34.83px;
    font-weight: bold;
    color: white;
}
.font-light.font-px {
    font-size: 27.83px;
    letter-spacing: 2.5px;
}
sup {
    font-size: 34.3px;
}

.text.font-bold {
    font-size: 22.92px;
    color: #0047b1;
}
#background {
    
    position: absolute;
    width: 100%;
    z-index:-1;   
    overflow: hidden;
}
#rectangle {
    width: 100%;
    height: 329px;
    background-color: #00afef;
}
#tritangle {
    width: 100%;
    background: linear-gradient(to bottom right,
    #00afef 0%, #00afef 50%,#ffffff 50%, #ffffff 100%);
    height: 213px;
}
#wrap {
    max-width: 1230px;    
    margin: auto;
    z-index: 2;
    
}
#logo {
    width: 100%;
    margin-bottom: 60px;
}
 #logo img {
     width: 255px;
 }
#icon {
    width: 100%;
    text-align: right
}
 #icon img {
     width: 105px;
     
 }
 section {
     position: relative;
    padding: 40px 30px;
     width: 630px;
     float: left;
 }
 aside {
    padding: 40px 30px;
     width: 600px;
     float: left;
 }
 #text {
     margin-bottom: 55px;
 }
 #test {
     width: 50px;
     height: 5px;
     background-color: #fdc7a4;
     margin-bottom: 47px;
 }
 #textSarafi{
     margin-bottom: 5px;
 }
 #sarafi {
     width: 100%;
     height: 200px;
     margin-bottom: 80px;
 }
 .number {
    margin-top: 15px;
    font-size: 97.31px;
    color: #0047b1;
    padding-bottom: 5px;
}
input {
    font-family: 'Quicksand', sans-seri;
    font-size: 97.31px;
    color: #0047b1;
    width: 100%;
    text-align: center;
    border: 0px solid white;   
    font-weight: bold; 
}
input:focus {

    outline: none;
}

 #left,#right {
     
     text-align: center;
     width: 200px;
     height: 100%;
     background-color: #ffffff;
     float: left;
     -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow:    0px 20px 20px 0px rgba(0, 0, 0, 0.1);
     box-shadow:         0px 20px 20px 0px rgba(0, 0, 0, 0.1);
     
 }
 #dialog {
    font-family: 'Quicksand', sans-serif; 
    font-weight: 300;
     text-align: center;
     color: rgb(255, 0, 0);
    position: absolute;
    width: 200px;
    height: 50px;
    background:rgba(255, 255, 255, 0);
    left: 30px;
    bottom: 140px;
    font-size: 0.8em;
    
 }
 #middle {
     position: relative;
     width: 170px;
     height: 100%;
     float: left;
      
 }
 #middle img {
     position: absolute;
     left: 38px;
     bottom: 44px;
     width: 93px;
 }
 .email.font-bold {
    font-size: 30px;
    color: #0047b1;
}


/* aside */
#icon {
    margin-bottom: 64px;
}
#slide {
    width: 100%;
    height: 318px;
    margin-bottom: 90px;
}
.slide {
    position: relative;
    width: 470px;
    float: right;
  
}
.slide img {
    position: absolute;
    display: none;
    width: 100%;
    
}
#eclip1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #00afef;
    /* position: relative; */
    padding: 6px;
    float: left;
}
#eclip2 {
    text-align: center;
    color: white;
    width: 77px;
    height: 77px;
    border: 1px solid white;
    border-radius: 50%;
    /* position: absolute;
    top: 6px;
    left: 6px; */
    position: relative;
    
  
    
}
#phone-icon {
    
    font-size: 55px;
    position: absolute;
    top: 10px;
    left: 15px;
}
#phone-number {
    width: 300px;
    font-size: 47px;
    color: #0047b1;
    float: left;
    padding: 12px 30px;
    
}
#contact {
    width: 100%;
    padding-left: 120px;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
@media  screen and (max-width: 1100px){

    section,aside {
        padding-top: 10px;
        float:none;
        width: 100%;
    }
    #icon,#slide {
        display: none;
    }
}